.card {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
  }

  .card img {
    overflow-y: hidden;
  }
  
.media {
    height: auto;
    overflow-y: hidden;
    width: 100%;
    object-fit: cover;
  }
  