body {
  background-color: whitesmoke;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Sidebar.css */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
  width: 12%;
  border-right: 1px solid gray;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 215px;
  position: fixed;
  top: 35%;
  left: 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
  display: block;
}

.navigation > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation > ul > li > a {
  padding: 20px; 
}

.navigation > ul > li > a:hover {
  background-color: #6a9e09;
  color: #f8f9f9;
}

.navigation li:last-child {
  border: none;
}

.contents {
  margin-left: 12%;
  padding: 5px;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  padding: 20px 50px 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 215px;
  position: fixed;
  top: 5%;
  left: 0;
}

/* src/components/AddItemPage.css */
.add-item-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-item-page h2 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px; /* Adjust height as needed */
}

button[type="submit"] {
  background-color: #6a9e6a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

button[type="submit"]:hover {
  background-color: #6a9e09;
}


/* ReserveItemPage.css */
.reserve-item-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sample-item {
  text-shadow: 0px 0px 10px #6a9e09;
}

/* src/components/ReserveItemPage.css */
.reserve-item-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.reserve-item-page h2 {
  color: #333;
  margin-bottom: 20px;
}

.item-details {
  margin-bottom: 20px;
}

.item-details h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.item-details p {
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}

.reserve-item-page form {
  margin-top: 20px;
}

.reserve-item-page .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.reserve-item-page .form-group input[type="number"],
.reserve-item-page .form-group input[type="text"] {
  width: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reserve-item-page button[type="submit"] {
  background-color: #6a9e6a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.reserve-item-page button[type="submit"]:hover {
  background-color: #6a9e09;
}

.nav-link.active {
  color: #6a9e09;
  font-weight: bold;
}

.carousel {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.image-container {
  display: flex;
  overflow: hidden;
  border: 2px solid;
  background-color: salmon;
}

.image-container img {
  max-width: 100%;
  height: auto;
  /* display: none; */
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
/* =================================== */
/* ImageCarousel.css */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: none; /* Hide all images by default */
}

.image-container img.active {
  display: block; /* Display the active image */
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #333;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
